$mine: #aaffa0;
$notMine: #ffa797;
$court: #f2f09b;
$trd-party: #e0ceff;
.wrapper {
  .iconWrapper {
    .icon {
      color: #0e7490;
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
    }
  }

  .dateClassName {
    display: flex !important;
    flex-direction: column;
  direction: rtl;
    .caseNumber {
      padding: 4px;
      border-radius: 4px;
      color: gold;
      background: #0e7490;
      width: fit-content;
    }

    .relatedCases {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-block: 5px;
      span {
        padding: 4px;
        border-radius: 4px;
        background: #c2c2c2;
        color: #333;
      }
    }
  }

  .content {
    font-weight: unset;
  }

  @mixin data-origin-styles($color) {
    .iconWrapper {
      background: $color;
    }
    .content {
      background-color: $color;
    }
    .contentArrowStyle {
      border-right: 7px solid $color;

    }
  }

  &[data-origin="court"] {
    @include data-origin-styles($court);
  }

  &[data-origin="mine"] {
    @include data-origin-styles($mine);
  }

  &[data-origin="notMine"] {
    @include data-origin-styles($notMine);
  }

  &[data-origin="trd-party"] {
    @include data-origin-styles($trd-party);
  }
}

