.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 500px;
  margin: 0 auto;
  padding: 12px;
  > * {
    flex: 1;
  }
  .listItem{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}

.inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input{
    flex: 1;
  }
}
.p-orderlist{
  width: 100%;
}
.p-orderlist-list{
  height: 100%;
}

.p-orderlist-droppoint{
  height: 20px;

}
.p-orderlist-droppoint-highlight{
  background: #f916167d;
}

